/* Navbar.css */
.navbar {
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 16, 47, 0.85)
    
  ); /* Gradient background */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center align items */
  padding: 0 20px;
  margin: 10px;
  backdrop-filter: blur(10px); /* Creates a frosted glass effect */
  transition: background 0.3s ease-in-out;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  /* position: absolute; */
  left: 20px; /* Adjust according to your design preference */
  top: 20px; /* Lowered position */
}

.menu-icon {
  display: none; /* Hidden by default, shown in mobile view */
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.menu-icon div {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: all 0.3s ease;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row; /* Horizontal alignment by default */
  align-items: center;
  justify-content: flex-end;
  width: auto; /* Auto width */
}

.nav-menu li {
  display: inline-block;
}

.nav-menu li a {
  display: block;
  padding: 12px 20px; /* Larger padding for better touch targets */
  color: white;
  text-decoration: none;
  text-align: left;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-menu li a:hover {
  color: #bce3f6; /* Highlight color on hover */
  background-color: rgba(255, 255, 255, 0.1); /* Subtle hover background */
  width: 100%; /* Full width for hover effect */
}

@media (max-width: 768px) {
  .menu-icon {
    display:block;
    position: relative;
    top: 0px;
  }

  .nav-menu {
    flex-direction: column; /* Stack links vertically in mobile view */
    width: 100%; /* Full width */
    position: fixed;
    top: 28px;
    left: 0px;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9),
      rgba(0, 16, 47, 0.95)
     
    ); /* Gradient background */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, transform 0.5s ease;
    transform: scale(1, 0); /* Start scaled down to zero vertically */
    transform-origin: top;
    
  }

  .nav-menu.active {
    max-height: 100vh; /* Enough to cover whole viewport height */
    transform: scale(1, 1); /* Scale back to full size */
  }

  .nav-menu li a {
    padding: 12px 20px; /* Larger padding for better touch targets */
    color: white;
    text-decoration: none;
    width: 100vw;
    text-align: center;
    transition: color 0.3s ease, background-color 0.3s ease;
  }

  .nav-menu li a:hover {
    color: #bce3f6; /* Highlight color on hover */
    background-color: rgba(255, 255, 255, 0.1); /* Subtle hover background */
    width: 100vw;/* Full width for hover effect */
  }
}
