/* Navbar.css */
.navbar {
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 16, 47, 0.85),
    rgba(0, 0, 0, 0)  
  ); 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0 20px;
  backdrop-filter: blur(10px); 
  transition: background 0.3s ease-in-out;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  /* position: absolute; */
  left: 20px; 
  top: 20px; 
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.menu-icon div {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: all 0.3s ease;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: auto;
}

.nav-menu li {
  display: inline-block;
}

.nav-menu li a {
  display: block;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  text-align: left;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-menu li a:hover {
  color: #bce3f6; 
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
}

@media (max-width: 768px) {
  .menu-icon {
    display:block;
    position: relative;
    top: 0px;
  }

  .nav-menu {
    flex-direction: column; 
    width: 100%;
    position: fixed;
    top: 28px;
    left: 0px;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9),
      rgba(0, 16, 47, 0.95)
     
    );
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, transform 0.5s ease;
    transform: scale(1, 0);
    transform-origin: top;
    
  }

  .nav-menu.active {
    max-height: 100vh; 
    transform: scale(1, 1); 
  }

  .nav-menu li a {
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    width: 100vw;
    text-align: center;
    transition: color 0.3s ease, background-color 0.3s ease;
  }

  .nav-menu li a:hover {
    color: #bce3f6; 
    background-color: rgba(255, 255, 255, 0.1); 
    width: 100vw;
  }
}
